<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mount Sinai Fire Department - Cash Bash</title>
    <!-- Vendor CSS Files -->
    <link
      href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}"
      rel="stylesheet"
    />
    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='assets/css/style.css')}}"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script src="{{ url_for('static', filename='assets/js/storage.js')}}"></script>

    <style>
      ::-webkit-scrollbar {
        width: 8px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

      body {
        font-family: "Manrope", sans-serif;
        background: #eee;
      }

      .size span {
        font-size: 11px;
      }

      .color span {
        font-size: 11px;
      }

      .product-deta {
        margin-right: 70px;
      }

      .gift-card:focus {
        box-shadow: none;
      }

      .pay-button {
        color: #fff;
      }

      .pay-button:hover {
        color: #fff;
      }

      .pay-button:focus {
        color: #fff;
        box-shadow: none;
      }

      .text-grey {
        color: #a39f9f;
      }

      .qty i {
        font-size: 11px;
      }
    </style>
    <script>
      $(document).ready(function () {
        const ticketViewLib = {
          showCashBashTickets: function () {
            $("#cashBashTickets").empty();
            var tickets = JSON.parse(localStorage.getItem("cashBashTickets"));
            $.each(tickets, function (index, value) {
              ticketViewLib.cashBashTickets(value);
            });
            var cashBashTicketTrashLinks = document.querySelectorAll(
              "i.fa.fa-trash.mb-1.text-danger"
            );
            cashBashTicketTrashLinks.forEach((myLink) => {
              myLink.addEventListener("click", function (e) {
                e.preventDefault();
                ticket_number = e.srcElement.id;

                cashBashTickets = [];

                var tickets = JSON.parse(
                  localStorage.getItem("cashBashTickets")
                );

                for (var i = 0; i < tickets.length; i++) {
                  if (tickets[i] != ticket_number) {
                    console.log(tickets[i]);
                    cashBashTickets.push(tickets[i]);
                  }
                }
                localStorage.setItem(
                  "cashBashTickets",
                  JSON.stringify(cashBashTickets)
                );
                if (cashBashTickets.length == 0) {
                  window.close();
                }
                ticketViewLib.showCashBashTickets();
              });
            });
          },
          showCashBashTicketsChanceNextYear: function () {
            $("#cashBashTicketsChanceNextYearDiv").empty();
            var cashBashTicketsChanceNextYearCount = JSON.parse(
              localStorage.getItem("cashBashTicketsChanceNextYear")
            );
            ticketViewLib.cashBashTicketsChanceNextYearDiv(
              cashBashTicketsChanceNextYearCount[0]
            );
            var cashBashTicketTrashNextYearMinusLinks =
              document.querySelectorAll("i.fa.fa-minus.text-danger.next-year");
            cashBashTicketTrashNextYearMinusLinks.forEach((myLink) => {
              myLink.addEventListener("click", function (e) {
                console.log("next-year minus");
                // text-grey mt-1 mr-1 ml-1 next-year
                var nextYearh5Links = document.querySelectorAll(
                  "h5.text-grey.mt-1.mr-1.ml-1.next-year"
                );
                nextYearh5Links.forEach((myLink) => {
                  console.log(myLink.textContent);
                  var val = parseInt(myLink.textContent);
                  if (val > 0) {
                    val--;
                  }
                  myLink.textContent = val.toString();
                  localStorage.setItem(
                    "cashBashTicketsChanceNextYear",
                    JSON.stringify([val.toString()])
                  );
                });
              });
            });

            var cashBashTicketTrashNextYearPlusLinks =
              document.querySelectorAll("i.fa.fa-plus.text-success.next-year");
            cashBashTicketTrashNextYearPlusLinks.forEach((myLink) => {
              myLink.addEventListener("click", function (e) {
                console.log("next-year plus");
                // text-grey mt-1 mr-1 ml-1 next-year
                var nextYearh5Links = document.querySelectorAll(
                  "h5.text-grey.mt-1.mr-1.ml-1.next-year"
                );
                nextYearh5Links.forEach((myLink) => {
                  console.log(myLink.textContent);
                  var val = parseInt(myLink.textContent);
                  val++;
                  myLink.textContent = val.toString();

                  localStorage.setItem(
                    "cashBashTicketsChanceNextYear",
                    JSON.stringify([val.toString()])
                  );
                });
              });
            });
          },
          show: function () {
            ticketViewLib.showCashBashTickets();
            ticketViewLib.showCashBashTicketsChanceNextYear();
          },
          cashBashTickets: function (ticket_number) {
            $("<div>", {
              class:
                "d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded",
            })
              .append(
                $("<div>", { class: "mr-1" }).append(
                  $("<img>", {
                    class: "rounded",
                    src: "{{ url_for('static', filename='assets/img/cashbash_ticket.png')}}",
                    width: "70",
                  })
                ),
                $("<div>", {
                  class:
                    "d-flex flex-column align-items-center product-details",
                }).append(
                  $("<p>", { class: "lead fw-normal mb-2" }).text(
                    "Cash Bash Ticket"
                  ),
                  $("<p>")
                    .text("" + ticket_number)
                    .prepend(
                      $("<span>", { class: "text-muted" }).text(
                        "Ticket Number "
                      )
                    )
                ),
                $("<div>", {
                  class: "d-flex flex-row align-items-center qty",
                }).append(),
                $("<div>").append(
                  $("<h5>", { class: "text-grey" }).text("$100.00")
                ),
                $("<div>", { class: "d-flex align-items-center" }).append(
                  $("<i>", {
                    class: "fa fa-trash mb-1 text-danger",
                    id: "" + ticket_number,
                  })
                )
              )
              .appendTo("#cashBashTickets");
          },
          cashBashTicketsChanceNextYearDiv: function (count) {
            var tickets = JSON.parse(localStorage.getItem("cashBashTickets"));
            if (tickets == null || tickets.length == 0) {
              $("<div>", { class: "card rounded-3 mb-4" })
                .append(
                  $("<p>", { class: "lead fw-normal mb-2" }).text(
                    "Cart is Empty."
                  )
                )
                .appendTo("#cashBashTicketsChanceNextYearDiv");
            } else {
              $("<div>", {
                class:
                  "d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded",
              })
                .append(
                  $("<div>", { class: "mr-1" }).append(
                    $("<img>", {
                      class: "rounded",
                      src: "{{ url_for('static', filename='assets/img/chance_ticket.png')}}",
                      width: "70",
                    })
                  ),
                  $("<div>", {
                    class:
                      "d-flex flex-column align-items-center product-details",
                  }).append(
                    $("<span>", { class: "font-weight-bold" }).text(
                      "2024 Chance"
                    ),
                    $("<span>", { class: "text-muted" }).text(
                      "Enter for a chance to win an additional free ticket for five more dollars"
                    )
                  ),
                  $("<div>", {
                    class: "d-flex flex-row align-items-center qty",
                  }).append(
                    $("<i>", {
                      class: "fa fa-minus text-danger next-year",
                    }),
                    $("<h5>", {
                      class: "text-grey mt-1 mr-1 ml-1 next-year",
                    }).text("" + count),
                    $("<i>", {
                      class: "fa fa-plus text-success next-year",
                    })
                  ),
                  $("<div>").append(
                    $("<h5>", { class: "text-grey" }).text("$5.00")
                  ),
                  $("<div>", { class: "d-flex align-items-center" }).append()
                )
                .appendTo("#cashBashTicketsChanceNextYearDiv");
            }
          },
        };

        if (AddCashBashTicket("{{ticket_number}}")) {
          ticketViewLib.show();
        }
      });
    </script>
  </head>
  <body className="snippet-body">
    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-8">
          <div class="p-2">
            <h4>Shopping cart</h4>
          </div>

          <div id="cashBashTickets"></div>
          <div id="cashBashTicketsChanceNextYearDiv"></div>

          <form name="MyForm" action="payment" method="post">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <div
              class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"
            >
              <input
                type="text"
                name="phone_number"
                class="form-control border-0 gift-card"
                placeholder="Winner Contact Phone Number"
                required
              />
            </div>

            <input type="hidden" name="currency_code" value="USD" />

            <div
              class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"
            >
              <button
                class="btn btn-primary btn-custom btn-block btn-lg ml-2 pay-button"
                type="submit"
              >
                Proceed to Pay
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    ></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript">
      #
    </script>
  </body>
</html>
