<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mount Sinai Fire Department - Cash Bash</title>
    <!-- Vendor CSS Files -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
  </head>
  <body className="snippet-body">
    <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-8">
          <div class="jumbotron text-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead">
              <strong>Please check your email</strong> for further instructions
              on how to complete your account setup.
            </p>
            <hr />
            <p>
              Having trouble?
              <a href="https://bootstrapcreative.com/">Contact us</a>
            </p>
            <p class="lead">
              <a
                class="btn btn-primary btn-sm"
                href="https://bootstrapcreative.com/"
                role="button"
                >Continue to homepage</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>
