<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"/> 
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/> 
        <title>Mount Sinai Fire Department - Cash Bash</title>         
        <meta content="" name="description"/> 
        <meta content="" name="keywords"/> 
        <!-- Favicons -->         
        <link href="{{ url_for('static', filename='assets/img/favicon.png')}}" rel="icon"/> 
        <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon"/> 
        <!-- Google Fonts -->         
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/> 
        <!-- Vendor CSS Files -->         
        <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet"/> 
        <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/> 
        <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet"/> 
        <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet"/> 
        <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet"/> 
        <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet"/> 
        <!-- Template Main CSS File -->         
        <link href="{{ url_for('static', filename='assets/css/style.css')}}" rel="stylesheet"/> 
        <!-- =======================================================
  * Template Name: MyResume - v4.9.2
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->         
    </head>     
    <body> 
        <!-- ======= Mobile nav toggle button ======= -->         
        <i class="bi bi-list mobile-nav-toggle d-lg-none"></i> 
        <!-- ======= Header ======= -->         
        <header id="header" class="d-flex flex-column justify-content-center"> 
            <nav id="navbar" class="navbar nav-menu"> 
                <ul> 
                    <li>
                        <a href="cart" class="nav-link scrollto" target="_blank" method="post"><i class="bx bx-cart"></i> <span>Cart</span></a>
                    </li>                     
                    <li>
                        <a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                    </li>                     
                    <li>
                        <a href="#parking" class="nav-link scrollto active"><i class="bx bx-car"></i> <span>Parking</span></a>
                    </li>                     
                    <li>
                        <a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Rules</span></a>
                    </li>                     
                    

                    <li><a href="#music" class="nav-link scrollto"><i class="bx bx-music"></i> <span>Music</span></a>
                    </li>                     

                    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Tickets</span></a>
                    </li>                     
                    <li><a href="#ticket2024" class="nav-link scrollto"><i class="bx bx-film"></i> <span>2024 Ticket</span></a>
                    </li>                     

                    <li>
                        <a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                    </li>                     
                </ul>                 
            </nav>
        </header>
        <!-- End Header -->         
        <!-- ======= Hero Section ======= -->         
        <section id="hero" class="d-flex flex-column justify-content-center"> 
            <div class="container" data-aos="zoom-in" data-aos-delay="100"> 
                <h1 style="text-align: center">Cash Bash 2024</h1> 
                <h2 style="text-align: center">Saturday, September 21, 2024 @ 1:00 PM EST</h2>
                <h3></h3>
                <div class="social-links"> 
                </div>                 

                <div id="map">
        <h1 style="text-align: center"><strong>1st Prize: $10,000</strong></h1>
        <h1 style="text-align: center"><strong>2nd Prize: $2,500</strong></h1>
        <h1 style="text-align: center"><strong>13 Prizes: $500.00</strong></h1>
        <h1 style="text-align: center"><strong>10 Prizes: $100.00</strong></h1>

                </div>                 






                <div class="container">
                  <div class="col-xs-12" style="height:50px;"></div>
                  <div class="row">
                      <div class="col-sm-4 mx-auto">
                            <img src="{{ url_for('static', filename='assets/img/CASH_BASH.png')}}" class="img-fluid" alt=""/> 
                      </div>
                  </div>
              </div>
            </div>             
        </section>
            <!-- ======= About Section ======= -->             
            <section id="parking" class="about"> 
                <div class="container" data-aos="fade-up"> 
                    <div class="section-title"> 
                        <h2>Parking</h2> 
                    </div>                     

                    <div class="row"> 
                      
                      <div class="col mx-auto text-center">
                        <h1>Parking at site will be limited, please use free shuttle from these locations:</h1>
                        <br/>
                        <br/>
                        <h2><b>Rose Caracappa Senior Center</b></h2>
                        <br/>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3013.9681467401456!2d-73.0116092!3d40.9383653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e841974fcc6363%3A0xc94325674446c177!2s739%20NY-25A%2C%20Mt%20Sinai%2C%20NY%2011766!5e0!3m2!1sen!2sus!4v1693776697038!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </h3>
                        <br/>
                        <br/>
                        <h2><b>Mount Sinai Fire Department Headquarters</b></h2>
                        <br/>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3013.6582643075994!2d-73.02460812338494!3d40.94515627135946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e841beb9e18fb3%3A0xdcd57bd68daa8ff6!2s746%20Mount%20Sinai-Coram%20Rd%2C%20Mt%20Sinai%2C%20NY%2011766!5e0!3m2!1sen!2sus!4v1693776750196!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </h3>
                      </div>
                    </div>                     

              </div>
            </section>
        <!-- End Hero -->         
        <main id="main"> 
            <!-- ======= About Section ======= -->             
            <section id="about" class="about"> 
                <div class="container" data-aos="fade-up"> 
                    <div class="section-title"> 
                        <h2>Rules</h2> 
                    </div>                     
                    <div class="row"> 
                        <div class="col-lg-4"> 
                            <img src="{{ url_for('static', filename='assets/img/zyro-image.png')}}" class="img-fluid" alt=""/> 
                        </div>                         
                        <div class="col-lg-8 pt-4 pt-lg-0 content"> 
                            <p>
                               <ul> 
                                    <li>
                                        <i class="bi bi-chevron-right"></i> <span>$100.00 Per Ticket. Winner need not be present.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>All numbers will be drawn on September 21, 2024 at the Mt. Sinai Fire Department, Station 1, 133 Mount Sinai Avenue.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>Gates will open at 1pm and event will run until 5pm, rain or shine.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>All winning numbers are re-entered for additional prizes.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>Only 2 ADULTS per ticket will be allowed entry. Please bring your own lawn chair.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>Only (up to) 500 tickets will be sold. Tickets must be shown at the gate for entry.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i><span>No one under 21 will be admited. </span> <strong>NO EXCEPTIONS!!!</strong>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>All tickets will be mailed to the address you put on the application once your payment clears. Tickets purchased after 9/1/2024 can be picked up at the gate with photo ID.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>You can choose your personal number 1-500. If a ticket number choice is not available, a random number will then be sent to you in its place.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>For additional questions contact: Cash Bash Committee at: <a href="mailto:msfdcashbash@gmail.com">msfdcashbash@gmail.com</a></span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>Entertainment, BBQ and drinks will be available during drawing, all included with ticket purchase.</span>
                                    </li>                                     
                                    <li><i class="bi bi-chevron-right"></i> <span>IF LESS THAN 500 TICKETS ARE SOLD, ALL PRIZES WILL BE PRORATED AT 60% OF TOTAL SOLD</span>
                                    </li>                                     
                                </ul> </p> 
                            <p> <strong>Enter for a chance to win an additional free ticket for five more dollars, select in drop down.</strong> </p> 
                        </div>                         
                    </div>                     
                </div>                 
            </section>
            <!-- End About Section -->             

            <section id="music" class="d-flex flex-column justify-content-center"> 
                <div class="container" data-aos="fade-up"> 
                    <div class="section-title"> 
                        <h3>Included with your raffle purchase is the party of the year, food, drinks, and live music by</h3> 
                    </div>                     
                    <a href="https://www.peatmoss1.com/" target="_blank"><img src="{{ url_for('static', filename='assets/img/image_music.png')}}" class="img-fluid" alt=""/> </a>
                </div>                 
            </section>
            <!-- ======= Music Section ======= -->             

            <!-- ======= Tickets Section ======= -->             
            <section id="resume" class="resume"> 
                <div class="container" data-aos=""> 
                    <div class="section-title"> 
                        <h2>Tickets</h2> 

                            <p> <strong>IF LESS THAN 500 TICKETS ARE SOLD, ALL PRIZES WILL BE PRO-RATED AT 60% OF TOTAL SOLD.</strong> </p> 
                            <p> <strong>Enter for a chance to win an additional free ticket for five more dollars, select in drop down.</strong> </p> 


                    </div>                     

                    <!-- generate_buttons start-->

                    <div class="row gap-2">
                    {%for i in range(0, ticket_len)%}
                        {{tickets[i]|safe}}
                    {%endfor%}
                    </div>
                    <!-- generate_buttons end-->

                </div>                 

                <!-- generate_models start-->
                {%for i in range(0, modal_len)%}
                    {{modals[i]|safe}}
                {%endfor%}
                <!-- generate_models end-->

            </section>
            <!-- End Resume Section -->             

            <section id="ticket2024" class="d-flex flex-column justify-content-center"> 
                    <div class="section-title"> 
                        <h2>Cash Bash 2024 - Ticket</h2> 
                    </div>                     
              <div class="container justify-content-center" data-aos="fade-up">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                  <input type="hidden" name="cmd" value="_s-xclick" />
                  <input type="hidden" name="hosted_button_id" value="PWWKF8J7CK7JA" />
                  <table>
                    <tr>
                      <td>
                        <input type="hidden" name="on0" value="Ticket Number Request(s)"/>
                        Ticket Number Request(s)
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" name="os0" maxLength="200" />
                      </td>
                    </tr>
                  </table>
                  <input type="hidden" name="currency_code" value="USD" />
                  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Buy Now" />
                </form>
              </div>
            </section>
            <!-- ======= Contact Section ======= -->             
            <section id="contact" class="contact"> 
                <div class="container" data-aos="fade-up"> 
                    <div class="section-title"> 
                        <h2>Contact</h2> 
                    </div>                     
                    <div class="row mt-1"> 
                        <div class="col-lg-4"> 
                            <div class="info"> 
                                <div class="address"> <i class="bi bi-geo-alt"></i> 
                                    <h4>Location:</h4> 
                                    <p>Mount Sinai Fire Department, Station 1, 133 Mount Sinai Avenue.</p> 
                                </div>                                 
                                <div class="email"> <i class="bi bi-envelope"></i> 
                                    <h4>Email:</h4> 
                                    <p><a href="mailto:msfdcashbash@gmail.com">msfdcashbash@gmail.com</a></p> 
                                </div>                                 
                                <!-- <div class="phone"> <i class="bi bi-phone"></i> 
                                    <h4>Call:</h4> 
                                    <p>+1 5589 55488 55s</p> 
                                </div>                                  -->
                            </div>                             
                        </div>                         
                    </div>                     
                </div>                 
            </section>
            <!-- End Contact Section -->             
        </main>
        <!-- End #main -->         
        <!-- ======= Footer ======= -->         
        <footer id="footer"> 
            <div class="container"> 
                <h3>Mount Sinai Fire Department</h3> 
                <p>Cash Bash 2024</p> 
                <div class="social-links"> <a href="https://www.facebook.com/mountsinaifd/" class="facebook" target="_blank" rel="noopener noreferrer"><i class="bx bxl-facebook"></i></a> 
                </div>                 
                <div class="copyright"> 
                    &copy; Copyright <strong><span>NJLIGames LLC</span></strong>. All Rights Reserved
                </div>                 
                <div class="credits"> 
                    <!-- All the links in the footer should remain intact. -->                     
                    <!-- You can delete the links only if you purchased the pro version. -->                     
                    <!-- Licensing information: [license-url] -->                     
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->                     
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> 
                </div>                 
            </div>             
        </footer>
        <!-- End Footer -->         
        <div id="preloader"></div>         <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> 
        <!-- Vendor JS Files -->         
        <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/vendor/typed.js/typed.min.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>         
        <!-- Template Main JS File -->         
        <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>         
        <script src="{{ url_for('static', filename='assets/js/storage.js')}}"></script>         
        <!-- <script src="{{ url_for('static', filename='assets/js/paypal.js')}}"> </script> -->
    </body>     
</html>
